<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
</head>
<body>
<h1>Hello World</h1>
<table>
	<thead>
		<tr> 
			<th>ID</th>
			<th>Name</th>
			<th>Age</th>
			<th>City</th>
		</tr>
	</thead>
	<tr th:each="record:${records}">
        <td th:text="${record.personId}">999</td>
        <td th:text="${record.fullName}">Full Name</td>
        <td th:text="${record.age}">24</td>
		<td th:text="${record.city}">Beijing</td>
    </tr>
</table>
</body>
</html>